<!--archivo register.html, plantilla para el registro de usuarios-->

<!--indicamos que esta plantilla se extiende a una padre-->
{% extends 'base.html' %}

<!--indicamos el contenido a mostrar-->
{% block header %}
    <h1>{% block title %}Registro{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="username">Username</label>
        <input name="username" id="username" required/>
        <label for="password">Password</label>
        <input type="password" name="password" id="username" required/>
        <input type="submit" value="Registrarse">
    </form>
{% endblock %}